<div class="question-tabs">
	<div class="question-1 active">Как проводятся работы</div>
	<div class="question-2">Ответы на вопросы</div>
</div>
	
<div class="contents">
	<div id="content-1" class="active">
		<ul>
			<li>
				<div class="content-name">Вы делаете заказ</div>
				<div class="content-description">Вы оставляете заявку на выезд мастера в удобное для вас время. Заявку можно оформить по телефону.<span class="call_phone">(495) 154-84-01</span></div>
			</li>
			<li>
				<div class="content-name">Бесплатная диагностика</div>
				<div class="content-description">Приехавший к вам мастер проводит первичную диагностику для определения неисправности и стоимости работ. передает вам прайс-лист на услуги.</div>
			</li>
			<li>
				<div class="content-name">Проведение работ</div>
				<div class="content-description">По окончанию выполнения всех работ вам выдадут договор и бланк строгой отчетности БСО-1. На основании этих документов вы можете обратиться к нам, в случае гарантийного случая.</div>
			</li>
		</ul>
		<div class="question-img"><img src="/img/index/msc.jpg"></div>
	</div>
	<div id="content-2">
		<ul>
			<li>
				<div class="content-name">Как быстро может приехать мастер?</div>
				<div class="content-description">Наш мастер может быть у вас дома уже в течении 1 часа или в другое удобне для вас время.</div>
			</li>
			<li>
				<div class="content-name">Сколько стоит выезд мастера?</div>
				<div class="content-description">Выезд мастера в пределах города выполняется бесплатно.</div>
			</li>
			<li>
				<div class="content-name">Сколько стоит диагностика?</div>
				<div class="content-description">Диагностика выполняется бесплатно, в случае если вы закажете проведение ремонта.</div>
			</li>
			<li>
				<div class="content-name">Гарантия на услуги?</div>
				<div class="content-description">Гарантия варьируется до 36 месяцев. Более подробную информацию о гарантии уточняйте у наших специалистов по тел. <span class="call_phone">(495) 154-84-01</span></div>
			</li>
			<li>
				<div class="content-name">Проведение работ</div>
				<div class="content-description">По окончанию выполнения всех работ вам выдадут договор и бланк строгой отчетности БСО-1. На основании этих документов вы можете обратиться к нам, в случае гарантийного случая</div>
			</li>
		</ul>
	</div>
</div>