<div class="repair-cause__form__container">
	<div class="repair-cause__form__content">
		<div class="repair-cause__form__close__btn">&#10006;</div>
		<form method="post" class="repair-cause__form">
			<h2>Причина</h2>
			<input type="text" name="id" value="0" hidden>
			<input type="text" name="title" placeholder="Услуга">
			<input type="text" name="price" placeholder="Цена">
			

			<div class="repair-cause__form__options">
				<input type="submit" name="add" value="добавить">
				<input type="submit" name="edit" value="изменить">
				<input type="submit" name="delete" value="удалить">
			</div>
		</form>
	</div>
</div>



<div class="repair__form__container">
	<div class="repair__form__content">
		<div class="repair__form__close__btn">&#10006;</div>
		<form method="post" class="repair__form">
			<h2>Услуга</h2>
			<input type="text" name="id" value="0" hidden>
			<input type="text" name="title" placeholder="Услуга">
			<input type="text" name="price" placeholder="Цена">
			

			<div class="repair__form__options">
				<input type="submit" name="add" value="добавить">
				<input type="submit" name="edit" value="изменить">
				<input type="submit" name="delete" value="удалить">
			</div>
		</form>
	</div>
</div>