<div class="side-bar">
	<img id="side-bar-img" src="/img/side-bar/hero4.png">
	<div class="side-bar-advantages">
		<p>Наши преимущества</p>
		<div class="advantage-itm">
			<div class="advantage-itm-img"><img src="/img/side-bar/feature-kzn-1.png"></div>
			<div class="advantage-itm-text">Бесплатный выезд на дом за 30 минут</div>
		</div>
		<div class="advantage-itm">
			<div class="advantage-itm-img"><img src="/img/side-bar/feature-kzn-2.png"></div>
			<div class="advantage-itm-text">Гарантия<br>до 3 лет</div>
		</div>
		<div class="advantage-itm">
			<div class="advantage-itm-img"><img src="/img/side-bar/feature-kzn-3.png"></div>
			<div class="advantage-itm-text">Оригинальные запчасти</div>
		</div>
		<div class="advantage-itm">
			<div class="advantage-itm-img"><img src="/img/side-bar/feature-kzn-4.png"></div>
			<div class="advantage-itm-text">Лучшие мастера работают у нас</div>
		</div>
	</div>
	<div class="discount">
		<p>скидка 20%</p>
		<p>за онлайн заказ</p>
		<form class="discount__form" method="post" action="/mailer">
			<input type="text" name="phone" placeholder="+7___ ___-__-__">
			<input type="submit" value="получить скидку!">
		</form>
		<p>Оператор перезвонит вам через 2 минуты.</p>
	</div>
</div>