<div class="intro">
	<div class="text">
		<h1>о компании</h1>
		<h2>только факты</h2>
		<p>Основные направления работы нашей компании: ремонт бытовой техники. Заявки на ремонт и монтаж принимаются круглосуточно.</p>
		<p>Мы предоставляем длительную гарантию на наши услуги и установленные запчасти. После завершения работы вы получаете бланк строгой отчетности, на основании которого можете обратиться к нам, в случае возникновения гарантийного случая. Все сервисные инженеры с высшим образованием и имеют опыт работы более 10 лет.</p>
		<p>Мы делаем все возможное для облегчения жизни наших клиентов. Вы можете рассчитывать на срочный выезд мастера на дом и бесплатную диагностику.</p>
	</div>
	<div class="about_company-img">
		<img src="../img/about_company/spare.png">
	</div>
</div>
<div class="intro">
	<div class="text">
		<h2>наши мастера</h2>
		<p>Вызвав специалиста из нашей компании, вы всегда можете рассчитывать на качество проведенных работ, так как наши сотрудники оказывают услуги непрерывно, а не время от времени. Важно, что у нас есть весь арсенал современного оборудования и каждая новая деталь будет оригинальной. Мастер расскажет, какие действия необходимы в вашем индивидуальном случае, а также, этапы их проведения.</p>
	</div>
</div>
<div class="our_masters">
	<h3>наши мастера</h3>
	<div class="our_masters-items">
		<div class="our_masters-itm"><img src="../img/about_company/master-1.jpg"><br>Дмитрий<br>ремонт стиральных машин<br>опыт работы 6 лет.</p></div>
		<div class="our_masters-itm"><img src="../img/about_company/master-2.jpg"><br>Алексей<br>ремонт стиральных машин<br>опыт работы 8 лет.</p></div>
		<div class="our_masters-itm"><img src="../img/about_company/master-3.jpg"><br>Виктор<br>ремонт стиральных машин и посудомоек<br>опыт работы 7 лет.</p></div>
	</div>
</div>