<div class="intro">
	<div class="text">
		<h1>контактная информация</h1>
		<h2>будем рады вам помочь<br><br></h2>
		<h2>сервисный центр немецкий сервис</h2>
		<p>Вызвать мастера и получить подробную консультацию вы можете:</p>
		<ul>
			<li>Позвонив по телефону:<br><span class="text-bold text-orange">+7 (495) 154-84-01</span> — ремонт бытовой техники.</li>
			<li>Оформите заявку на сайте.</li>
			<li>Заказав обратный звонок.</li>
		</ul>
		<p><span class="text-bold">С 8<sup>00</sup> до 24<sup>00</sup></span>, без выходных.</p>
		<p>Заявки принимаем <span class="text-bold">круглосуточно</span>.</p>
		<p>При этом наши специалисты свяжутся с вами в течение всего нескольких минут, а оставленная заявка даст вам право на получение <span class="text-bold">скидки 20%</span>.<br><br></p>
		<h2>сотрудничество</h2>
		<p>Индивидуальные условия и выгодные бонусы: <span class="text-bold text-orange">bt@nem-service.com</span></p>
	</div>
	<div class="about_company-img"><img src="../img/contacts/shield.png"></div>
</div>
<div class="text" id="emergency">
	<h2>срочный выезд или на дом</h2>
	<p>Осуществляем ремонт бытовой техники в <span class="text-bold">Москве</span> и ближнем <span class="text-bold">Подмосковье</span>. Благодаря большому штату мастеров, которые распределены по районам, к вам будет отправлен ближайший мастер для скорейшего решения вашей проблемы.<br>Выезд по <span class="text-bold">Москве — бесплатно</span>.</p>
</div>
<div class="contacts-map"><img src="../img/contacts/msc-30.png"></div>