<div class="intro">
	<div class="text">
		<h1>ремонт посудомоечных машин</h1>
		<h2>в москве и области</h2>
		<p>Выполним качественный ремонт посудомоечных машин в Москве и области любой модели. Мастер приедет к Вам в удобное время, имея при себе все необходимое оборудование и запчасти.</p>
	</div>
	<div class="masters-img" id="masters-img"><img src="../img/fridge/clock.png"></div>
</div>



<div class="intro">
	<div class="text">
		<h2>ремонт любых неисправностей</h2>
	</div>		
		
</div>


<div class="repair-cause-itms__container"></div>
<button class="repair-cause__add">Добавить</button>

	
<div class="intro">
	<div class="text">
		<h2>ремонт любых неисправностей</h2>
	</div>			
</div>
	

<div class="repair-prices">		
	<table class="repair-prices__table"></table>
	<button class="repair-price-tab-more">Развернуть</button>
	<button class="repair-price-tab-add">Добавить</button>
</div>

	
<div class="intro">
	<div class="text">
		<h2>ремонт любых моделей</h2>
	</div>			
</div>




<div class="repair-brand__container">
	<table border="1" width="100%" cellpadding="5">
		<tr class="repair-brand-itm">
			<th class="brand"><img src="../img/dishwasher/brands/aeg.gif"></th>
			<th class="brand"><img src="../img/dishwasher/brands/ardo.gif"></th>
			<th class="brand"><img src="../img/dishwasher/brands/ariston.gif"></th>
			<th class="brand"><img src="../img/dishwasher/brands/asko.gif"></th>
			<th class="brand"><img src="../img/dishwasher/brands/beko.gif"></th>
		</tr>
		<tr class="repair-brand-itm">
			<th class="brand"><img src="../img/dishwasher/brands/blomberg.gif"></th>
			<th class="brand"><img src="../img/dishwasher/brands/bosch.gif"></th>
			<th class="brand"><img src="../img/dishwasher/brands/brandt.gif"></th>
			<th class="brand"><img src="../img/dishwasher/brands/candy.gif"></th>
			<th class="brand"><img src="../img/dishwasher/brands/de-dietrich.gif"></th>
		</tr>
		<tr class="repair-brand-itm">
			<th class="brand"><img src="../img/dishwasher/brands/delonghi.gif"></th>
			<th class="brand"><img src="../img/dishwasher/brands/electrolux.gif"></th>
			<th class="brand"><img src="../img/dishwasher/brands/elenberg.gif"></th>
			<th class="brand"><img src="../img/dishwasher/brands/fagor.gif"></th>
			<th class="brand"><img src="../img/dishwasher/brands/flavia.gif"></th>
		</tr>
		<tr class="repair-brand-itm">
			<th class="brand"><img src="../img/dishwasher/brands/gorenje.gif"></th>
			<th class="brand"><img src="../img/dishwasher/brands/hansa.gif"></th>
			<th class="brand"><img src="../img/dishwasher/brands/indesit.gif"></th>
			<th class="brand"><img src="../img/dishwasher/brands/kaiser.gif"></th>
			<th class="brand"><img src="../img/dishwasher/brands/korting.gif"></th>
		</tr>
		<tr class="repair-brand-itm">
			<th class="brand"><img src="../img/dishwasher/brands/krona.gif"></th>
			<th class="brand"><img src="../img/dishwasher/brands/kuppersberg.gif"></th>
			<th class="brand"><img src="../img/dishwasher/brands/kuppersbusch.gif"></th>
			<th class="brand"><img src="../img/dishwasher/brands/lg.gif"></th>
			<th class="brand"><img src="../img/dishwasher/brands/miele.gif"></th>
		</tr>
		<tr class="repair-brand-itm">
			<th class="brand"><img src="../img/dishwasher/brands/neff.gif"></th>
			<th class="brand"><img src="../img/dishwasher/brands/samsung.gif"></th>
			<th class="brand"><img src="../img/dishwasher/brands/siemens.gif"></th>
			<th class="brand"><img src="../img/dishwasher/brands/teka.gif"></th>
			<th class="brand"><img src="../img/dishwasher/brands/zanussi.gif"></th>
		</tr>		
	</table>

	<button class="brand-more">Все бренды</button>

</div>


{{> repair-forms}}