<div class="intro">
	<div class="text">
		<h1>ремонт электроплиты</h1>
		<h2>на дому</h2>
		<p>Ремонт электроплит является одной из самых востребованных услуг. Мы понимаем, как важно для Вас время, поэтому наши мастера приедут к Вам уже через 30 минут после звонка. Обращайтесь к «Немецкому Сервису», если хотите, чтобы ремонт Вашей электроплиты был выполнен быстро и недорого.</p>
	</div>
	<div class="masters-img" id="masters-img"><img src="../img/fridge/clock.png"></div>
</div>



<div class="intro">
	<div class="text">
		<h2>ремонт любых неисправностей</h2>
	</div>		
		
</div>


<div class="repair-cause-itms__container"></div>
<button class="repair-cause__add">Добавить</button>

	
<div class="intro">
	<div class="text">
		<h2>ремонт любых неисправностей</h2>
	</div>			
</div>
	

<div class="repair-prices">		
	<table class="repair-prices__table"></table>
	<button class="repair-price-tab-more">Развернуть</button>
	<button class="repair-price-tab-add">Добавить</button>
</div>

<div class="electric_stove-pics-container">
	<img src="../img/electric_stove/pics/1.jpg">
	<img src="../img/electric_stove/pics/2.jpg">
	<img src="../img/electric_stove/pics/3.jpg">
	<img src="../img/electric_stove/pics/4.jpg">
</div>
	
<div class="intro">
	<div class="text">
		<h2>ремонт любых моделей</h2>
	</div>			
</div>

<div class="repair-brand__container">
	<table border="1" width="100%" cellpadding="5">
		<tr class="repair-brand-itm">
			<th class="brand"><img src="../img/electric_stove/brands/aeg.gif"></th>
			<th class="brand"><img src="../img/electric_stove/brands/ardo.gif"></th>
			<th class="brand"><img src="../img/electric_stove/brands/ariston.gif"></th>
			<th class="brand"><img src="../img/electric_stove/brands/beko.gif"></th>
			<th class="brand"><img src="../img/electric_stove/brands/bertazzoni.gif"></th>
		</tr>
		<tr class="repair-brand-itm">
			<th class="brand"><img src="../img/electric_stove/brands/bosch.gif"></th>
			<th class="brand"><img src="../img/electric_stove/brands/candy.gif"></th>
			<th class="brand"><img src="../img/electric_stove/brands/darina.gif"></th>
			<th class="brand"><img src="../img/electric_stove/brands/electrolux.gif"></th>
			<th class="brand"><img src="../img/electric_stove/brands/fagor.gif"></th>
		</tr>
		<tr class="repair-brand-itm">
			<th class="brand"><img src="../img/electric_stove/brands/gefest.gif"></th>
			<th class="brand"><img src="../img/electric_stove/brands/gorenje.gif"></th>
			<th class="brand"><img src="../img/electric_stove/brands/hansa.gif"></th>
			<th class="brand"><img src="../img/electric_stove/brands/hotpoint-ariston.gif"></th>
			<th class="brand"><img src="../img/electric_stove/brands/ilve.gif"></th>
		</tr>
		<tr class="repair-brand-itm">
			<th class="brand"><img src="../img/electric_stove/brands/indesit.gif"></th>
			<th class="brand"><img src="../img/electric_stove/brands/kaiser.gif"></th>
			<th class="brand"><img src="../img/electric_stove/brands/mechta.gif"></th>
			<th class="brand"><img src="../img/electric_stove/brands/zanussi.gif"></th>
			<th class="brand"></th>
		</tr>		
	</table>

	<button class="brand-more">Все бренды</button>

</div>


{{> repair-forms}}