<div class="intro">
	<div class="text">
		<h1>ремонт холодильников на дому дешего</h1>
		<h2>в москве и области</h2>
		<p>Ремонт холодильников на дому в компании Немецкий Сервис - это широкий спектр услуг по низким ценам, все работы выполняются на дому.</p>
	</div>
	<div class="masters-img" id="masters-img"><img src="../img/fridge/clock.png"></div>
</div>

<div class="intro">
	<div class="text">
		<h2>ремонт любых неисправностей</h2>
	</div>		
		
</div>

<div class="repair-cause-itms__container"></div>
<button class="repair-cause__add">Добавить</button>

	

<div class="intro">
	<div class="text">
		<h2>ремонт любых неисправностей</h2>
	</div>			
</div>
	
<div class="repair-prices">		
	<table class="repair-prices__table"></table>
	<button class="repair-price-tab-more">Развернуть</button>
	<button class="repair-price-tab-add">Добавить</button>
</div>

	
<div class="intro">
	<div class="text">
		<h2>ремонт любых моделей</h2>
	</div>			
</div>

<div class="repair-brand__container">
	<table>
		<tr class="repair-brand-itm">
			<th class="brand"><img src="../img/fridge/brands/aeg.gif"></th>
			<th class="brand"><img src="../img/fridge/brands/ardo.gif"></th>
			<th class="brand"><img src="../img/fridge/brands/ariston.gif"></th>
			<th class="brand"><img src="../img/fridge/brands/asko.gif"></th>
			<th class="brand"><img src="../img/fridge/brands/atlant.gif"></th>
		</tr>
		<tr class="repair-brand-itm">
			<th class="brand"><img src="../img/fridge/brands/bauknecht.gif"></th>
			<th class="brand"><img src="../img/fridge/brands/beko.gif"></th>
			<th class="brand"><img src="../img/fridge/brands/blomberg.gif"></th>
			<th class="brand"><img src="../img/fridge/brands/bosch.gif"></th>
			<th class="brand"><img src="../img/fridge/brands/brandt.gif"></th>
		</tr>
		<tr class="repair-brand-itm">
			<th class="brand"><img src="../img/fridge/brands/candy.gif"></th>
			<th class="brand"><img src="../img/fridge/brands/daewoo.gif"></th>
			<th class="brand"><img src="../img/fridge/brands/de-dietrich.gif"></th>
			<th class="brand"><img src="../img/fridge/brands/electrolux.gif"></th>
			<th class="brand"><img src="../img/fridge/brands/fagor.gif"></th>
		</tr>
		<tr class="repair-brand-itm">
			<th class="brand"><img src="../img/fridge/brands/ge.gif"></th>
			<th class="brand"><img src="../img/fridge/brands/goldstar.gif"></th>
			<th class="brand"><img src="../img/fridge/brands/gorenje.gif"></th>
			<th class="brand"><img src="../img/fridge/brands/haier.gif"></th>
			<th class="brand"><img src="../img/fridge/brands/hansa.gif"></th>
		</tr>
		<tr class="repair-brand-itm">
			<th class="brand"><img src="../img/fridge/brands/hitachi.gif"></th>
			<th class="brand"><img src="../img/fridge/brands/indesit.gif"></th>
			<th class="brand"><img src="../img/fridge/brands/kaiser.gif"></th>
			<th class="brand"><img src="../img/fridge/brands/kuppersbusch.gif"></th>
			<th class="brand"><img src="../img/fridge/brands/lg.gif"></th>
		</tr>
		<tr class="repair-brand-itm">
			<th class="brand"><img src="../img/fridge/brands/liebherr.gif"></th>
			<th class="brand"><img src="../img/fridge/brands/maytag.gif"></th>
			<th class="brand"><img src="../img/fridge/brands/miele.gif"></th>
			<th class="brand"><img src="../img/fridge/brands/neff.gif"></th>
			<th class="brand"><img src="../img/fridge/brands/nord.gif"></th>
		</tr>
		<tr class="repair-brand-itm">
			<th class="brand"><img src="../img/fridge/brands/panasonic.gif"></th>
			<th class="brand"><img src="../img/fridge/brands/polair.gif"></th>
			<th class="brand"><img src="../img/fridge/brands/rosenlew.gif"></th>
			<th class="brand"><img src="../img/fridge/brands/samsung.gif"></th>
			<th class="brand"><img src="../img/fridge/brands/sharp.gif"></th>
		</tr>
		<tr class="repair-brand-itm">
			<th class="brand"><img src="../img/fridge/brands/shivaki.gif"></th>
			<th class="brand"><img src="../img/fridge/brands/siemens.gif"></th>
			<th class="brand"><img src="../img/fridge/brands/smeg.gif"></th>
			<th class="brand"><img src="../img/fridge/brands/snaige.gif"></th>
			<th class="brand"><img src="../img/fridge/brands/stinol.gif"></th>
		</tr>
		<tr class="repair-brand-itm">
			<th class="brand"><img src="../img/fridge/brands/supra.gif"></th>
			<th class="brand"><img src="../img/fridge/brands/toshiba.gif"></th>
			<th class="brand"><img src="../img/fridge/brands/vestel.gif"></th>
			<th class="brand"><img src="../img/fridge/brands/vestfrost.gif"></th>
			<th class="brand"><img src="../img/fridge/brands/whirlpool.gif"></th>
		</tr>			
	</table>

	<button class="brand-more">Все бренды</button>

</div>


{{> repair-forms}}