<div class="intro">
	<div class="text">
		<h1>ремонт варочной панели</h1>
		<h2>в москве</h2>
		<p>Ремонт варочных панелей, пожалуй, один из самых сложных видов ремонта кухонной техники и доверять такой ремонт следует только проверенной, надежной компании – «Немецкому Сервису». Мы понимаем, как важно для Вас время, поэтому наши мастера приедут к Вам уже через 30 минут. Обращайтесь, если хотите, чтобы ремонт Вашей варочной панели был выполнен быстро и недорого.</p>
	</div>
	<div class="masters-img" id="masters-img"><img src="../img/fridge/clock.png"></div>
</div>


<div class="intro">
	<div class="text">
		<h2>ремонт любых неисправностей</h2>
	</div>			
</div>


<div class="repair-cause-itms__container"></div>
<button class="repair-cause__add">Добавить</button>

	
<div class="intro">
	<div class="text">
		<h2>ремонт любых неисправностей</h2>
	</div>			
</div>
	

<div class="repair-prices">		
	<table class="repair-prices__table"></table>
	<button class="repair-price-tab-more">Развернуть</button>
	<button class="repair-price-tab-add">Добавить</button>
</div>


<div class="electric_stove-pics-container">
	<img src="../img/hob/pics/1.jpg">
	<img src="../img/hob/pics/2.jpg">
	<img src="../img/hob/pics/3.jpg">
	<img src="../img/hob/pics/4.jpg">
</div>
	
<div class="intro">
	<div class="text">
		<h2>ремонт любых моделей</h2>
	</div>			
</div>


<div class="repair-brand__container">
	<table border="1" width="100%" cellpadding="5">
		<table border="1" width="100%" cellpadding="5">
		<tr class="repair-brand-itm">
			<th class="brand"><img src="../img/hob/brands/aeg.gif"></th>
			<th class="brand"><img src="../img/hob/brands/ardo.gif"></th>
			<th class="brand"><img src="../img/hob/brands/ariston.gif"></th>
			<th class="brand"><img src="../img/hob/brands/beko.gif"></th>
			<th class="brand"><img src="../img/hob/brands/bertazzoni.gif"></th>
		</tr>
		<tr class="repair-brand-itm">
			<th class="brand"><img src="../img/hob/brands/bosch.gif"></th>
			<th class="brand"><img src="../img/hob/brands/candy.gif"></th>
			<th class="brand"><img src="../img/hob/brands/electrolux.gif"></th>
			<th class="brand"><img src="../img/hob/brands/endever.gif"></th>
			<th class="brand"><img src="../img/hob/brands/fagor.gif"></th>
		</tr>
		<tr class="repair-brand-itm">
			<th class="brand"><img src="../img/hob/brands/foster.gif"></th>
			<th class="brand"><img src="../img/hob/brands/gefest.gif"></th>
			<th class="brand"><img src="../img/hob/brands/gorenje.gif"></th>
			<th class="brand"><img src="../img/hob/brands/hansa.gif"></th>
			<th class="brand"><img src="../img/hob/brands/indesit.gif"></th>
		</tr>
		<tr class="repair-brand-itm">
			<th class="brand"><img src="../img/hob/brands/kaiser.gif"></th>
			<th class="brand"><img src="../img/hob/brands/korting.gif"></th>
			<th class="brand"><img src="../img/hob/brands/neff.gif"></th>
			<th class="brand"><img src="../img/hob/brands/samsung.gif"></th>
			<th class="brand"><img src="../img/hob/brands/siemens.gif"></th>
		</tr>
		<tr class="repair-brand-itm">
			<th class="brand"><img src="../img/hob/brands/smeg.gif"></th>
			<th class="brand"><img src="../img/hob/brands/teka.gif"></th>
			<th class="brand"><img src="../img/hob/brands/zanussi.gif"></th>
			<th class="brand"><img src="../img/hob/brands/zigmundandshtain.gif"></th>
			<th class="brand"></th>
		</tr>	

	</table>

	<button class="brand-more">Все бренды</button>

</div>









{{> repair-forms}}