<div class="masters">
	<div class="masters-text">
		<p>услуги мастеров</p>
		<p>для вашего дома</p>
		<p>Мы специализируемся на ремонте бытовой техники. Вам не придется везти неисправное оборудование в сервисный центр, все работы выполняются нашими мастерами на выезде. В удобное для вас время наш специалист приедет к вам домой и быстро проведет необходимые работы любой сложности. На все услуги действует длительная гарантия.</p>
	</div>
	<div class="masters-img"><img src="/img/side-bar/shield.png"></div>
</div>
<div class="remont-container">
	<h2 href="index.html" class="remont-a">ремонт бытовой техники</h2>
	<div class="remont-items">
		<div class="remont-itm">
			<a href="/repair/fridge">
				<img src="/img/index/remont/section1.png">
				<p>холодильник</p>
			</a>
		</div>
		<div class="remont-itm">
			<a href="/repair/washing">
				<img src="/img/index/remont/section2.png">
				<p>стиральная машина</p>
			</a>
		</div>
		<div class="remont-itm">
			<a href="/repair/dishwasher">
				<img src="/img/index/remont/section3.png">
				<p>посудомоечная машина</p>
			</a>
		</div>
		<div class="remont-itm">
			<a href="/repair/electric_stove">
				<img src="/img/index/remont/section4.png">
				<p>электроплита</p>
			</a>
		</div><div class="remont-itm">
			<a href="/repair/hob">
				<img src="/img/index/remont/section5.png">
				<p>варочная панель</p>
			</a>
		</div>
		<div class="remont-itm">
			<a href="/repair/oven">
				<img src="/img/index/remont/section6.png">
				<p>духовой шкаф</p>
			</a>
		</div>
	</div>
</div>