<div class="intro">
	<div class="text">
		<h1>ремонт духовых шкафов</h1>
		<h2>в москве</h2>
		<p>Ремонт духовых шкафов – это, казалось бы, трудный и долгий процесс, требующий больших затрат. И когда, кажется, легче купить новую духовку – на помощь приходит «Немецкий Сервис». Мы качественно выполним ремонтные работы любой сложности с гарантией до 3-х лет. Мастер приедет к Вам уже через 30 минут после звонка. Обращайтесь, если хотите, чтобы ремонт вашей техники был выполнен быстро и недорого.</p>
	</div>
	<div class="masters-img" id="masters-img"><img src="../img/fridge/clock.png"></div>
</div>



<div class="intro">
	<div class="text">
		<h2>ремонт любых неисправностей</h2>
	</div>			
</div>


<div class="repair-cause-itms__container"></div>
<button class="repair-cause__add">Добавить</button>

	
<div class="intro">
	<div class="text">
		<h2>ремонт любых неисправностей</h2>
	</div>			
</div>
	

<div class="repair-prices">		
	<table class="repair-prices__table"></table>
	<button class="repair-price-tab-more">Развернуть</button>
	<button class="repair-price-tab-add">Добавить</button>
</div>



<div class="electric_stove-pics-container">
	<img src="../img/oven/pics/1.jpg">
	<img src="../img/oven/pics/2.jpg">
	<img src="../img/oven/pics/3.jpg">
	<img src="../img/oven/pics/4.jpg">
</div>


	
<div class="intro">
	<div class="text">
		<h2>ремонт любых моделей</h2>
	</div>			
</div>



<div class="repair-brand__container">
	<table border="1" width="100%" cellpadding="5">
		<tr class="repair-brand-itm">
			<th class="brand"><img src="../img/oven/brands/aeg.gif"></th>
			<th class="brand"><img src="../img/oven/brands/ardo.gif"></th>
			<th class="brand"><img src="../img/oven/brands/ariston.gif"></th>
			<th class="brand"><img src="../img/oven/brands/beko.gif"></th>
			<th class="brand"><img src="../img/oven/brands/bertazzoni.gif"></th>
		</tr>
		<tr class="repair-brand-itm">
			<th class="brand"><img src="../img/oven/brands/bosch.gif"></th>
			<th class="brand"><img src="../img/oven/brands/candy.gif"></th>
			<th class="brand"><img src="../img/oven/brands/electrolux.gif"></th>
			<th class="brand"><img src="../img/oven/brands/endever.gif"></th>
			<th class="brand"><img src="../img/oven/brands/fagor.gif"></th>
		</tr>
		<tr class="repair-brand-itm">
			<th class="brand"><img src="../img/oven/brands/foster.gif"></th>
			<th class="brand"><img src="../img/oven/brands/gefest.gif"></th>
			<th class="brand"><img src="../img/oven/brands/gorenje.gif"></th>
			<th class="brand"><img src="../img/oven/brands/hansa.gif"></th>
			<th class="brand"><img src="../img/oven/brands/hotpoint-ariston.gif"></th>
		</tr>

		<tr class="repair-brand-itm">
			<th class="brand"><img src="../img/oven/brands/indesit.gif"></th>
			<th class="brand"><img src="../img/oven/brands/kaiser.gif"></th>
			<th class="brand"><img src="../img/oven/brands/korting.gif"></th>
			<th class="brand"><img src="../img/oven/brands/kuppersberg.gif"></th>
			<th class="brand"><img src="../img/oven/brands/kuppersbusch.gif"></th>
		</tr>
		<tr class="repair-brand-itm">
			<th class="brand"><img src="../img/oven/brands/miele.gif"></th>
			<th class="brand"><img src="../img/oven/brands/nardi.gif"></th>
			<th class="brand"><img src="../img/oven/brands/neff.gif"></th>
			<th class="brand"><img src="../img/oven/brands/restart.gif"></th>
			<th class="brand"><img src="../img/oven/brands/samsung.gif"></th>
		</tr>
		<tr class="repair-brand-itm">
			<th class="brand"><img src="../img/oven/brands/siemens.gif"></th>
			<th class="brand"><img src="../img/oven/brands/smeg.gif"></th>
			<th class="brand"><img src="../img/oven/brands/teka.gif"></th>
			<th class="brand"><img src="../img/oven/brands/whirlpool.gif"></th>
			<th class="brand"><img src="../img/oven/brands/zanussi.gif"></th>
		</tr>
		<tr class="repair-brand-itm">
			<th class="brand"><img src="../img/hob/brands/zigmundandshtain.gif"></th>
			<th class="brand"></th>
			<th class="brand"></th>
			<th class="brand"></th>
			<th class="brand"></th>
		</tr>		
	</table>

	<button class="brand-more">Все бренды</button>

</div>







{{> repair-forms}}