<div class="intro">
	<div class="text">
		<h1>ремонт стиральных машин на дому</h1>
		<p>Если вам потребовался ремонт стиральных машин на дому - обращение в нашу компанию правильный выбор.</p>
		<p>У каждой модели стиральной машины есть свои «слабые места». Наши мастера это знают и имеют уже многолетний удачный опыт по их выявлению и ремонту. Все работы мы осуществляем на дому.</p>
	</div>
	<div class="masters-img" id="masters-img"><img src="../img/fridge/clock.png"></div>
</div>
<div class="intro">
	<div class="text">
		<h2>ремонт любых неисправностей</h2>
	</div>		
		
</div>


<div class="repair-cause-itms__container"></div>
<button class="repair-cause__add">Добавить</button>

	
<div class="intro">
	<div class="text">
		<h2>ремонт любых неисправностей</h2>
	</div>			
</div>
	

<div class="repair-prices">		
	<table class="repair-prices__table"></table>
	<button class="repair-price-tab-more">Развернуть</button>
	<button class="repair-price-tab-add">Добавить</button>
</div>

	
<div class="intro">
	<div class="text">
		<h2>ремонт любых моделей</h2>
	</div>			
</div>



<div class="repair-brand__container">
	<table border="1" width="100%" cellpadding="5">
		<tr class="repair-brand-itm">
			<th class="brand"><img src="../img/washing/brands/aeg.gif"></th>
			<th class="brand"><img src="../img/washing/brands/ardo.gif"></th>
			<th class="brand"><img src="../img/washing/brands/argos.gif"></th>
			<th class="brand"><img src="../img/washing/brands/ariston.gif"></th>
			<th class="brand"><img src="../img/washing/brands/asko.gif"></th>
		</tr>
		<tr class="repair-brand-itm">
			<th class="brand"><img src="../img/washing/brands/assol.gif"></th>
			<th class="brand"><img src="../img/washing/brands/atlant.gif"></th>
			<th class="brand"><img src="../img/washing/brands/bauknecht.gif"></th>
			<th class="brand"><img src="../img/washing/brands/beko.gif"></th>
			<th class="brand"><img src="../img/washing/brands/blomberg.gif"></th>
		</tr>
		<tr class="repair-brand-itm">
			<th class="brand"><img src="../img/washing/brands/bosch.gif"></th>
			<th class="brand"><img src="../img/washing/brands/brandt.gif"></th>
			<th class="brand"><img src="../img/washing/brands/candy.gif"></th>
			<th class="brand"><img src="../img/washing/brands/daewoo.gif"></th>
			<th class="brand"><img src="../img/washing/brands/electrolux.gif"></th>
		</tr>
		<tr class="repair-brand-itm">
			<th class="brand"><img src="../img/washing/brands/elenberg.gif"></th>
			<th class="brand"><img src="../img/washing/brands/eumenia.gif"></th>
			<th class="brand"><img src="../img/washing/brands/euronova.gif"></th>
			<th class="brand"><img src="../img/washing/brands/eurosoba.gif"></th>
			<th class="brand"><img src="../img/washing/brands/evgo.gif"></th>
		</tr>
		<tr class="repair-brand-itm">
			<th class="brand"><img src="../img/washing/brands/evrika.gif"></th>
			<th class="brand"><img src="../img/washing/brands/fagor.gif"></th>
			<th class="brand"><img src="../img/washing/brands/ge.gif"></th>
			<th class="brand"><img src="../img/washing/brands/gorenje.gif"></th>
			<th class="brand"><img src="../img/washing/brands/haier.gif"></th>
		</tr>
		<tr class="repair-brand-itm">
			<th class="brand"><img src="../img/washing/brands/hansa.gif"></th>
			<th class="brand"><img src="../img/washing/brands/hoover.gif"></th>
			<th class="brand"><img src="../img/washing/brands/hotpoint-ariston.gif"></th>
			<th class="brand"><img src="../img/washing/brands/ignis.gif"></th>
			<th class="brand"><img src="../img/washing/brands/indesit.gif"></th>
		</tr>
		<tr class="repair-brand-itm">
			<th class="brand"><img src="../img/washing/brands/it-wash.gif"></th>
			<th class="brand"><img src="../img/washing/brands/kaiser.gif"></th>
			<th class="brand"><img src="../img/washing/brands/lg.gif"></th>
			<th class="brand"><img src="../img/washing/brands/miele.gif"></th>
			<th class="brand"><img src="../img/washing/brands/neff.gif"></th>
		</tr>
		<tr class="repair-brand-itm">
			<th class="brand"><img src="../img/washing/brands/oka.gif"></th>
			<th class="brand"><img src="../img/washing/brands/otsein.gif"></th>
			<th class="brand"><img src="../img/washing/brands/panasonic.gif"></th>
			<th class="brand"><img src="../img/washing/brands/philco.gif"></th>
			<th class="brand"><img src="../img/washing/brands/reeson.gif"></th>
		</tr>
		<tr class="repair-brand-itm">
			<th class="brand"><img src="../img/washing/brands/regal.gif"></th>
			<th class="brand"><img src="../img/washing/brands/rolsen.gif"></th>
			<th class="brand"><img src="../img/washing/brands/samsung.gif"></th>
			<th class="brand"><img src="../img/washing/brands/sanyo.gif"></th>
			<th class="brand"><img src="../img/washing/brands/schulthess.gif"></th>
		</tr>
		<tr class="repair-brand-itm">
			<th class="brand"><img src="../img/washing/brands/siemens.gif"></th>
			<th class="brand"><img src="../img/washing/brands/siltal.gif"></th>
			<th class="brand"><img src="../img/washing/brands/smeg.gif"></th>
			<th class="brand"><img src="../img/washing/brands/unit.gif"></th>
			<th class="brand"><img src="../img/washing/brands/vestel.gif"></th>
		</tr>
		<tr class="repair-brand-itm">
			<th class="brand"><img src="../img/washing/brands/vyatka.gif"></th>
			<th class="brand"><img src="../img/washing/brands/v-zug.gif"></th>
			<th class="brand"><img src="../img/washing/brands/whirlpool.gif"></th>
			<th class="brand"><img src="../img/washing/brands/zanussi.gif"></th>
			<th class="brand"><img src="../img/washing/brands/zerowatt.gif"></th>
		</tr>			
	</table>

	<button class="brand-more">Все бренды</button>

</div>

{{> repair-forms}}